*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

background:#050505;
color:white;

}



nav{

height:80px;

background:#111;

display:flex;

align-items:center;

justify-content:space-around;

border-bottom:2px solid #ff4655;

}



nav span{

color:#ff4655;

}



.menu a{

color:white;

text-decoration:none;

margin:15px;

}



button{

background:#ff4655;

color:white;

border:none;

padding:12px 25px;

cursor:pointer;

font-weight:bold;

}



button:hover{

box-shadow:0 0 20px #ff4655;

}




.hero{

height:600px;


background:

linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.9)
),

url("https://images.unsplash.com/photo-1542751371-adc38448a05e");


background-size:cover;

display:flex;

align-items:center;

padding-left:10%;

}




.hero h1{

font-size:55px;

text-shadow:0 0 20px red;

}



.hero p{

font-size:25px;

margin:20px 0;

}




section{

padding:70px 10%;

text-align:center;

}




section h2{

color:#ff4655;

font-size:40px;

}




.cards{

display:flex;

justify-content:center;

gap:30px;

margin-top:40px;

}



.card{

background:#161616;

padding:40px;

width:300px;

border-radius:10px;

}



.card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px red;

}



.calculator{

background:#161616;

padding:40px;

max-width:500px;

margin:auto;

}




select,input,textarea{

width:100%;

padding:15px;

margin:10px 0;

background:#222;

color:white;

border:none;

}



textarea{

height:120px;

}



label{

display:block;

text-align:left;

color:#ff4655;

}



.reviews{

display:flex;

justify-content:center;

gap:30px;

}



.reviews div{

background:#161616;

padding:30px;

}



footer{

background:#111;

padding:40px;

text-align:center;

}